body{
	background: #E6E6FA;
}

.gambar2{
	margin: 0px 0px;
	padding: 2px 2px;
	margin-top: -30px;
}

.gambar3{
	margin: 0px 0px;
	padding: 4px 2px;
	margin-top: -30px;
}

.so{
	font-style: oblique;
	box-shadow: 100px 10px 10px 1px #708090;
}

.so2{
	font-style: oblique;
	box-shadow: 100px 10px 10px 1px #708090;
}

.tanggal{
	color: black;
	font-size: 12pt;
	width: 45%;
	box-shadow: 20px 10px 20px 1px #708090;
	padding: 0px 20px;
	font-style: oblique;
	margin: 10px 10px;
	text-align: center;
	font-weight: bold;
}

.posisi{
	color: black;
	font-size: 12pt;
	width: 50%;
	box-shadow: 20px 10px 20px 1px #708090;
	padding: 0px 20px;
	font-style: oblique;
	margin: 10px 10px;
	text-align: center;
}

/*---------------------------------*/
.inputbaru{
	text-align: center;
	text-transform: uppercase;
    width: 350px;
	background: white;
	margin: 10px 10px;
	padding: 10px 10px;
	box-shadow: 0px 0px 80px 1px #d6d6d6;
	border-radius: 100px;
	font-style: oblique;
}

.inputbaru1{
	width: 900px;
	margin: 5px 70px;
	padding: 30px 80px;
	font-style: oblique;
}

label{
	font-size: 15pt;
	box-shadow: 0px 0px 100px 1px #5F9EA0;
}

.formlogin{
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
	border-radius: 30px;
}

.tombol{
	background: #5F9EA0;
	color: rgb(245, 242, 239);
	font-size: 15pt;
	width: 80%;
	border: none;
	font-style: oblique;
	font-weight: bold;
    border-radius: 100px;
    margin: 50px 20px;
}

.zoom-effect {  
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;  
}
 
.kotak input {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
 
.zoom-effect:hover .kotak input {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
/*---------------------------------*/